.orderSummary-container{
 width: 90%;
 margin: 0 auto;
    height: 100%;

}

.order-subtotal {
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-top: 20px;
}
.order-subtotal div{
display: flex;
justify-content: space-between;
margin: 20px 0;
}

.order-subtotal div p{
    margin: 0;
}

.order-total{
    display: flex;
    justify-content: space-between;
    
}

.order-total *{
    margin: 20px 0 0 0;
}