@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;400;600&display=swap');
body {
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #c3b090;
}
